{% extends "base.html.twig" %}

{% block body %}
	<div class="row">
		<div class="col">
			<div class="card">
				<img
				src="{{ asset('img/' ~ product.image) }}" alt=""
				class="card-img-top">
			</div>
			<div class="card-body">
				<h3 class="card-title">{{ product.name }}</h3>
				<p class="card-text">
					{{ product.description }}
				</p>
				<div class="card-text">
					<p>Price : {{ product.price | format_currency('EUR', locale='fr') | replace({',00' : ''})  }}</p>
					<p>
						{{ product.quantity == 0 ? 'Unavailable product' : 'Quantity : ' ~ product.quantity }}
					</p>
				</div>
				<p>
					<a href="{{  url('product.index') }}" class="btn btn-info">Products list</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}